@import url('index.css');

.sectionLogin {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.imgLogin {
    width: 100%;
    display: flex;
    align-items: center;
}

.imgLogin img {
    width: 100%;
    max-width: 600px;
}

.imgLogin .bannerCreateAcc {
    transform: rotateY(180deg);
}

.areaLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaLogin form {
    width: 100%;
    padding: var(--space15);
    display: flex;
    flex-direction: column;
    gap: var(--space30);
}

.areaLogin h2 {
    color: var(--white01);
    font-size: 2.5em;
    padding: var(--space15);

    span {
        color: var(--red01);
    }
}

.areaLogin hr {
    background-color: #e3e3e366;
    width: 100%;
    height: 1px;
    margin: 50px auto;
}

.fieldInput {
    color: var(--white01);
    position: relative;
}

.field {
    background-color: transparent;
    border: none;
    color: var(--white01);
    box-shadow: 3px 3px 5px #a91d3956;
    width: 100%;
    padding: var(--space15) 5px;
    transition: var(--transitionDefault);
}

.field:focus {
    box-shadow: 5px 5px 10px #a91d397e;

}

.btnLogin {
    height: 50px;
    width: 300px;
    margin: 0 auto;
    background: transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #a91d3917, 5px 5px 15px #a91d3917,
        inset 5px 5px 10px #a91d390c, inset -5px -5px 10px #a91d390c;
}

.btnLogin:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #a91d397e, -1px -1px 13px #a91d3969;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

.btnLogin:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #a91d397e, -1px -1px 33px #a91d3969;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}



.areaCreateAccount {
    color: var(--white01);

    a {
        color: var(--red02);
    }
}

@media screen and (max-width: 920px) and (min-width: 721px) {
    .sectionLogin {
        flex-direction: column;
    }

    .bannerCreateAcc {
        width: 100%;
        max-width: 600px;
        max-height: 400px;
        margin: 0 auto;
    }
    
    .imgLogin img {
        width: 100%;
        max-width: 600px;
        max-height: 400px;
        margin: 0 auto;
    }
    
    .areaLogin form {
        width: 100%;
        padding: var(--space15);
        display: flex;
        flex-direction: column;
        gap: var(--space30);
    }
    
    .fieldInput {
        width: 100%;
        max-width: 750px;
        color: var(--white01);
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (max-width: 720px) {
    .sectionLogin {
        flex-direction: column;
    }
    
    .areaLogin {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .areaLogin form {
        gap: var(--space30);
    }
    
    .areaLogin h2 {
        font-size: 2.3em;
    }

    
    .btnLogin {
        height: 50px;
        width: 14em;
        margin: 0 auto;
    }
        
}

